@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;700&display=swap');


body {
	margin: 0;
	padding: 0;
	font-family: 'Karla', sans-serif;
	background-color: #313338;
	backdrop-filter: blur(5px);
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 50px;
	text-align: center;
	color: #fff;
}


.avatar img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	object-position: center;
	margin-bottom: 20px;
	border: 10px white;
	box-shadow: 0px 0px 10px #000;
	border: 5px solid #fff;
	border-radius: 50%;
	cursor: not-allowed;
}

.button {
	background-color: #f7c4ce;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 0.5rem;
	filter: brightness(100%);
	box-shadow: 0px 0px 10px #000;
}

.button:hover {
	filter: brightness(50%);
}

.discord {
	background-color: transparent;
	display: inline-block;
	font-size: 16px;
	margin: 50px 2px;
	cursor: pointer;
	border-radius: 0.5rem;
	box-shadow: 0px 0px 10px #000;
}